@media (min-width: 769px) and (max-width: 960px) {
  .sprite-sprite, .blog_fase, .update_time, .nav_bong, .nav_dg, .nav_india, .nav_awsm, .nav_rvcl, .nav_vz {
    background-image: url('../img/../img/sprite-sb7d0f76053.png');
    background-repeat: no-repeat;
  }

  .article {
    padding-top: 68px;
    background-color: #f9f9f9;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: inset 0px 11px 6px -1px rgba(199, 199, 199, 0.71);
  }

  .blog {
    width: 404px;
    display: inline-block;
    background-color: #fff;
    padding-left: 21px;
    margin-bottom: 86px;
    border: 1px solid #f6f6f6;
    padding-bottom: 41px;
    margin-left: 23px;
    margin-top: 31px;
    padding-top: 1px;
    position: relative;
  }
  .blog_fase {
    background-position: 0 -207px;
    display: block;
    position: absolute;
    width: 56px;
    height: 55px;
    margin-left: -50px;
    margin-top: 15px;
  }
  .blog_nameBlog {
    display: block;
    padding-top: 29px;
    font-size: 30px;
    color: #454545;
    margin-left: 15px;
  }
  .blog_nameBlogColor {
    color: #edbfff;
  }
  .blog_textBlog {
    width: 352px;
    padding-top: 9px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #454545;
  }
  .blog_corner {
    width: 0;
    height: 0;
    border-top: 20px solid #fff;
    border-left: 20px solid transparent;
    position: absolute;
    left: 86%;
    top: 100%;
  }

  .abslt {
    position: relative;
    bottom: -83px;
    left: 149px;
    margin-top: -26px;
  }
  .abslt_link {
    background-color: #000;
  }
  .abslt_item {
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid #f6f6f1;
  }

  .update {
    display: inline-block;
    margin-bottom: 91px;
    margin-left: 91px;
    margin-right: 14px;
  }
  .update_title {
    font-size: 30px;
    color: #454545;
    margin-left: -35px;
    margin-bottom: 18px;
  }
  .update_time {
    background-position: 0 -411px;
    background-position: 2px -412px;
    padding-left: 67px;
    height: 49px;
    display: block;
    font-size: 16px;
    color: #454545;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin-left: -36px;
    margin-bottom: 18px;
    margin-top: 2px;
    width: 140%;
  }
  .update_light {
    display: block;
    padding-top: 8px;
    color: #676767;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  .update_more960 {
    float: right;
    font-size: 18px;
    color: #454545;
    margin-right: 13px;
    margin-top: 18px;
  }
  .update_more {
    display: none;
  }
  .update__fix {
    margin-top: 19px;
    margin-bottom: -5px;
  }
  .update_marg {
    position: relative;
    top: 17px;
  }

  .nav {
    text-align: center;
    background-color: #f9f9f9;
    padding-bottom: 27px;
  }
  .nav_bong {
    background-position: 0 -138px;
    display: inline-block;
    width: 69px;
    height: 64px;
    margin-right: 67px;
  }
  .nav_dg {
    background-position: 0 0;
    display: inline-block;
    width: 72px;
    height: 64px;
  }
  .nav_india {
    background-position: 0 -267px;
    display: inline-block;
    width: 65px;
    height: 64px;
    margin-right: 72px;
    margin-left: 62px;
    margin-top: 25px;
  }
  .nav_awsm {
    background-position: 0 -69px;
    display: inline-block;
    width: 50px;
    height: 64px;
  }
  .nav_rvcl {
    background-position: 0 -465px;
    display: inline-block;
    width: 104px;
    height: 64px;
    margin-right: 69px;
    margin-left: 55px;
    margin-top: 24px;
  }
  .nav_vz {
    background-position: 0 -569px;
    display: inline-block;
    width: 79px;
    height: 65px;
  }

  .artbot {
    padding-top: 98px;
    padding-bottom: 32px;
    background-color: #ececec;
  }
  .artbot_categories {
    display: block;
    font-size: 30px;
    color: #454545;
    width: 160px;
    margin-left: 17px;
  }
  .artbot_textCat {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #787878;
    padding-top: 8px;
    margin-left: 16px;
    margin-bottom: 56px;
    width: 89%;
    line-height: 24px;
    overflow: hidden;
    height: 172px;
  }
  .artbot_inline {
    display: inline-block;
    width: 33%;
  }
  .artbot_logName {
    font-size: 48px;
    color: #454545;
    margin-bottom: 15px;
    margin-left: -4px;
    text-shadow: 0px 2px 0px #e3f7ec;
  }
  .artbot_violet {
    color: #b9b9b9;
  }
  .artbot_ital {
    font-size: 16px;
    color: #c5c5c5;
    font-family: 'Georgia', sans-serif;
    font-style: italic;
    margin-top: 13px;
    text-shadow: 3px 1px 1px #f6f7ea;
  }
  .artbot_recent {
    display: block;
    font-size: 30px;
    color: #454545;
    width: 160px;
    margin-left: 15px;
  }
  .artbot__textOver {
    overflow: hidden;
    height: 123px;
    margin-top: -13px;
    margin-left: -3px;
  }
  .artbot__relat {
    position: relative;
    top: -2px;
  }
  .artbot__padd {
    padding-left: 18px;
  }
  .artbot__dispNone {
    display: none;
  }

  .footer {
    background: url("../img/Home320b.jpg") no-repeat;
    background-size: cover;
    height: 68px;
    padding-top: 46px;
  }
  .footer .ftr_item {
    display: inline-block;
    margin-bottom: 36px;
  }
  .footer .ftr_link {
    display: block;
    font-size: 20px;
    color: #fff;
    margin-right: 43px;
    margin-left: -2px;
  }
  .footer_link {
    display: block;
    width: 140px;
    font-size: 12px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-shadow: 0px 3px 3px #3f3f3f;
    float: right;
    margin-top: -49px;
    margin-right: 3px;
  }
  .footer_extra {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
  }
}
