@media (min-width: 481px) and (max-width: 768px) {
  .header {
    background: url("../img/Home768.jpg") no-repeat;
    background-size: cover;
    border-bottom: 1px solid #35273c;
    padding-top: 65px;
    padding-left: 17px;
    padding-bottom: 68px;
  }
  .header_logName {
    padding-bottom: 29px;
    font-size: 48px;
    color: #fff;
    text-shadow: 0px 3px 3px #3f3f3f;
  }
  .header_violet {
    color: #533b5e;
    text-shadow: none;
  }
  .header_slider {
    display: block;
    padding-top: 171px;
    padding-bottom: 195px;
    font-size: 48px;
    color: #fff;
    margin-left: 26px;
    text-shadow: 0px 3px 3px #3f3f3f;
    background: url(../img/Ip768.png) 83% 37% no-repeat;
  }
  .header_pink {
    margin-top: 7px;
    display: block;
    font-size: 24px;
    color: #edbfff;
  }
  .header_textHead {
    display: block;
    font-size: 16px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 276px;
    padding-top: 8px;
    line-height: 26px;
  }
  .header_del {
    display: none;
  }
  .header_headText {
    display: none;
  }

  .menu__home {
    display: none;
  }
  .menu_sub__item {
    display: inline-block;
  }
  .menu_sub__link {
    display: block;
    font-size: 24px;
    color: #fff;
    margin-right: 43px;
    margin-left: -3px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .menu_sub__link:hover {
    border-bottom: 2px solid #edbfff;
    padding-bottom: 3px;
  }

  .radio {
    position: relative;
    left: 67%;
    top: -28px;
    margin-top: -18px;
  }
  .radio_item {
    display: inline-block;
    margin-right: 4px;
    width: 16px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
  .radio_item:hover .radio_link {
    display: block;
  }
  .radio_link {
    display: none;
    margin: 3px auto;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
  }
}
