.sprite-sprite, .section_column1, .section_column2, .section_column3, .blog_fase, .update_time, .nav_bong, .nav_dg, .nav_india, .nav_awsm, .nav_rvcl, .nav_vz {
  background-image: url("../img/../img/sprite-sb7d0f76053.png");
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'league_gothicregular';
  src: url("league-gothic_allfont.ru-webfont.eot");
  font-weight: normal;
  font-style: normal;
}
.wrap {
  font-family: 'league_gothicregular', arial;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

.header {
  background: url("../img/Home1920.jpg") no-repeat;
  background-position: 61% 50%;
  /* background-size: cover; */
  border-bottom: 1px solid #35273c;
  padding-top: 65px;
  padding-bottom: 55px;
}

.header_logName {
  padding-bottom: 123px;
  font-size: 48px;
  color: #fff;
  text-shadow: 0px 3px 3px #3f3f3f;
  float: left;
  margin-left: -4px;
  /* letter-spacing:  -3px; */
}

.header_violet {
  color: #533b5e;
  text-shadow: none;
}

.header_slider {
  display: block;
  padding-top: 119px;
  padding-bottom: 195px;
  font-size: 60px;
  color: #fff;
  margin-left: -3px;
  text-shadow: 0px 3px 3px #3f3f3f;
  background: url(../img/Ip768.png) 89% -1% no-repeat;
  clear: both;
}

.header_pink {
  margin-top: -1px;
  display: block;
  font-size: 32px;
  color: #edbfff;
}

.header_headText {
  display: block;
  font-size: 18px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 56%;
  padding-top: 5px;
  line-height: 24px;
}

.header_textHead {
  display: none;
}

.menu {
  /* float: right; */
}

.menu__home {
  display: none;
}

.menu_sub__item {
  display: inline-block;
}

.menu_sub__link {
  display: block;
  font-size: 24px;
  color: #fff;
  margin-right: -3px;
  margin-left: 43px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 7px;
}

.menu_sub__link:hover {
  border-bottom: 2px solid #edbfff;
  padding-bottom: 3px;
}

.radio {
  position: relative;
  left: 75%;
  top: -3%;
}

.radio_item {
  position: relative;
  background: #fff;
  display: inline-block;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background-color: #333;
  border-radius: 50%;
  behavior: url(PIE.htc);
}

.radio_item:hover .radio_link {
  display: block;
}

.radio_link {
  position: relative;
  background: #fff;
  display: none;
  margin: 3px auto;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  behavior: url(PIE.htc);
}

.section {
  padding-top: 76px;
  padding-bottom: 68px;
  /* background: linear-gradient(to top, #36293d, #755184); */
  background: url("../img/gradient.jpg") repeat-x;
}

.section_column1 {
  background-position: 0 -337px;
  background-position: -1px -332px;
  padding-left: 53px;
  margin-left: 9px;
  width: 180px;
  height: 32px;
  font-size: 30px;
  color: #fff;
  clear: both;
}

.section_column2 {
  background-position: 0 -534px;
  background-position: -2px -529px;
  padding-left: 53px;
  margin-left: 86px;
  width: 180px;
  height: 32px;
  font-size: 30px;
  color: #fff;
  clear: both;
}

.section_column3 {
  background-position: 0 -374px;
  background-position: 0px -369px;
  padding-left: 53px;
  margin-left: 9px;
  width: 180px;
  height: 32px;
  font-size: 30px;
  color: #fff;
  clear: both;
}

.section_description {
  width: 226px;
  margin: 0 auto;
  font-size: 16px;
  color: #fff;
  padding-left: 61px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 24px;
  margin-top: 6px;
  overflow: hidden;
  height: 119px;
}

.section_more {
  display: block;
  float: right;
  padding-top: 20px;
  font-size: 18px;
  color: #fff;
  margin-right: -41px;
}

.section_more:hover {
  text-shadow: 3px 0px 3px #c5f9e1;
}

.section_inline {
  display: inline-block;
  width: 25%;
}

.section_padleft {
  margin-left: 191px;
}

.section__middlColumn {
  padding-left: 19px;
  margin-right: -19px;
  height: 0;
}

.section_padd {
  margin-right: -37px;
}

.section_centr {
  margin-left: 77px;
}

.section_moremarg {
  margin-right: -119px;
}

.article {
  display: block;
  padding-top: 68px;
  background-color: #f9f9f9;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: inset 0px 11px 6px -1px rgba(199, 199, 199, 0.71);
  z-index: 2;
}

.blog {
  display: inline-block;
  width: 42%;
  background-color: #fff;
  padding-left: 21px;
  margin-bottom: 86px;
  border: 1px solid #f6f6f6;
  padding-bottom: 39px;
  margin-left: 23px;
  margin-top: 31px;
  padding-top: 1px;
}

.blog_fase {
  background-position: 0 -207px;
  display: block;
  position: absolute;
  width: 56px;
  height: 55px;
  margin-left: -50px;
  margin-top: 15px;
}

.blog_nameBlog {
  display: block;
  padding-top: 29px;
  font-size: 30px;
  color: #454545;
  margin-left: 15px;
}

.blog_nameBlogColor {
  color: #edbfff;
}

.blog_textBlog {
  width: 92%;
  padding-top: 9px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #454545;
}

.abslt {
  position: relative;
  bottom: -83px;
  left: 149px;
  margin-top: -26px;
}

.abslt_link {
  background-color: #000;
}

.abslt_item {
  border: 2px solid #f6f6f1;
  background-color: #fff;
}

.update {
  display: inline-block;
  width: 29%;
  margin-bottom: 91px;
  margin-left: 92px;
  margin-right: 20px;
}

.update_title {
  font-size: 30px;
  color: #454545;
  margin-left: -35px;
  margin-bottom: 18px;
}

.update_time {
  background-position: 0 -411px;
  background-position: 2px -412px;
  padding-left: 67px;
  height: 49px;
  display: block;
  font-size: 16px;
  color: #454545;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  margin-left: -36px;
  margin-bottom: 18px;
  margin-top: 2px;
  width: 140%;
}

.update_light {
  display: block;
  padding-top: 8px;
  color: #676767;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.update_more960 {
  float: right;
  font-size: 18px;
  color: #454545;
  padding-right: 22px;
  margin-right: -147px;
  margin-top: 18px;
}

.update_more {
  display: none;
}

.update__fix {
  margin-top: 19px;
  margin-bottom: -5px;
}

.update_marg {
  position: relative;
  top: 17px;
}

.nav {
  text-align: center;
  background-color: #f9f9f9;
  padding-bottom: 27px;
}

.nav_bong {
  background-position: 0 -138px;
  display: inline-block;
  width: 69px;
  height: 64px;
  margin-right: 67px;
}

.nav_dg {
  background-position: 0 0;
  display: inline-block;
  width: 72px;
  height: 64px;
}

.nav_india {
  background-position: 0 -267px;
  display: inline-block;
  width: 65px;
  height: 64px;
  margin-right: 72px;
  margin-left: 62px;
  margin-top: 25px;
}

.nav_awsm {
  background-position: 0 -69px;
  display: inline-block;
  width: 50px;
  height: 64px;
}

.nav_rvcl {
  background-position: 0 -465px;
  display: inline-block;
  width: 104px;
  height: 64px;
  margin-right: 69px;
  margin-left: 55px;
  margin-top: 24px;
}

.nav_vz {
  background-position: 0 -569px;
  display: inline-block;
  width: 79px;
  height: 65px;
}

.artbot {
  padding-top: 60px;
  padding-bottom: 32px;
  background-color: #ececec;
}

.artbot_categories {
  display: block;
  font-size: 30px;
  color: #454545;
  width: 160px;
  margin-left: 20px;
}

.artbot_textCat {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #787878;
  padding-top: 9px;
  margin-left: 19px;
  margin-bottom: 56px;
  width: 88%;
  line-height: 24px;
  overflow: hidden;
  height: 172px;
}

.artbot_inline {
  display: inline-block;
  width: 33%;
}

.artbot_logName {
  font-size: 48px;
  color: #454545;
  margin-bottom: 15px;
  margin-left: -4px;
  text-shadow: 0px 2px 0px #e3f7ec;
}

.artbot_violet {
  color: #b9b9b9;
}

.artbot_ital {
  font-size: 16px;
  color: #c5c5c5;
  font-family: 'Georgia', sans-serif;
  font-style: italic;
  margin-top: 13px;
}

.artbot_recent {
  display: block;
  font-size: 30px;
  color: #454545;
  width: 160px;
  margin-left: 17px;
}

.artbot__textOver {
  overflow: hidden;
  height: 123px;
  margin-top: -13px;
  margin-left: -3px;
}

.artbot__relat {
  position: relative;
  top: 48px;
}

.artbot__padd {
  padding-left: 18px;
}

.artbot__dispNone {
  display: none;
}

.footer {
  background: url("../img/Home1920b.jpg") no-repeat;
  background-size: cover;
  height: 68px;
  padding-top: 46px;
}

.footer .ftr_item {
  display: inline-block;
  margin-bottom: 36px;
}

.footer .ftr_link {
  display: block;
  font-size: 20px;
  color: #fff;
  margin-right: 44px;
  margin-left: -2px;
}

.footer_link {
  display: block;
  width: 150px;
  font-size: 12px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-shadow: 0px 3px 3px #3f3f3f;
  float: right;
  margin-top: -48px;
}

.footer_extra {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
